<h1>Listing tech_classes</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Section</th>
      <th>Day</th>
      <th>Time</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tech_classes.each do |tech_class| %>
      <tr>
        <td><%= tech_class.number %></td>
        <td><%= tech_class.section %></td>
        <td><%= tech_class.day %></td>
        <td><%= tech_class.time %></td>
        <td><%= tech_class.year %></td>
        <td><%= link_to 'Show', tech_class %></td>
        <td><%= link_to 'Edit', edit_tech_class_path(tech_class) %></td>
        <td><%= link_to 'Destroy', tech_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tech class', new_tech_class_path %>
