<%= form_for(@corpus_entry) do |f| %>
  <% if @corpus_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corpus_entry.errors.count, "error") %> prohibited this corpus_entry from being saved:</h2>

      <ul>
      <% @corpus_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :note, placeholder: "Document ID", class: "form-control" %>
  </div>

<%= f.fields_for :document do |p| %>
  <div class="form-group">
    <%= p.text_field :genre, placeholder: "Genre", class: "form-control" %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
